.new-movies{
    background-color: #141414;
}
.new-movies .vertical-padding{
    padding-bottom: 100px;
}
.new-movies .vertical-padding .heading{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 0 30px 20px 30px;
}
.new-movies .vertical-padding .heading h1{
    font-size: 3.2rem;
    text-transform: capitalize;
}