.movie-list ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 10px; */
}
.movie-list ul .movie-box{
    width: 20%;
    /* padding: 10px; */
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.movie-box-style{
    margin: 10px;
    overflow: hidden;
}
.movie-list ul li img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}
/* .movie-list ul li img::after {
    background: rgba(0, 0, 0, 0.7);
}
.movie-list ul li img:hover::after {
    opacity: 1;
} */
.movie-box .movie-box-hover {
    position: absolute;
    inset: 0;
    min-height: 325px;
    text-align: center;
    padding: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.4s ease-in-out;
    transform: translateY(500px);
    opacity: 0;
}
/* .movie-box .movie-box-hover:focus {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    outline: 0
} */
.movie-box:hover .movie-box-hover.fade-up {
    transform: translateX(0);
    opacity: 1;
}
.movie-box:hover img.zoom {
    transform: scale(1.5);
} 
.movie-box-hover i {
    font-size: 45px;
    margin-bottom: 20px;
}
.movie-box-hover h3 {
    font-size: 20px;
}
.movie-box-hover p{
    font-size: 15px;
    margin-bottom: 20px;
}