.movie{
    background: #000;
    width: 100%;
    height: 80vh;
    min-height: 100px;
    background-position: bottom center;
    background-size: cover;
    position: relative;
}
.movie::after{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: transparent;
    background-image: linear-gradient(180deg, #00000085 0%,#141414 100%);
    opacity: 1;
}
.movie .movie-player{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px 0 50px;
}
.movie .movie-data{
    position: relative;
    z-index: 2;
    margin-top: 100px;
    /* width: 500px;
    height: 500px; */
    width: 50%;
}
.movie .movie-data .data-box p{
 border: 2px solid #fff;
 display: inline;
 padding: 5px;
 margin-right: 10px;
 border-radius: 5px;
 font-size: 16px;
}
.movie .movie-data h1{
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 20px;
} 
.movie .movie-data p {
    font-size: 17px;
    margin-bottom: 20px;
}
.movie .movie-data i {
    margin-right: 10px;
}
.movie .icon{
    /* transform: translateX(50%) translateY(-50%);
    top: 50%;
    left: 50%; */
    position: relative;
    z-index: 2;
    /* width: 700px; */
    width: 50%;
}
.movie .icon p{
    background-image: linear-gradient(to left, #ff6c1c, #f0a401);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .movie .movie-player .icon .player {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
/* .movie .player{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 1s;
}
.player::after{
    position: absolute;
    content: '';    
    top: 50%;
    left: 50%;
    border-top: 10px solid transparent;
    border-left: 20px solid #000;
    border-bottom: 10px solid transparent;
    transform: translateX(-50%) translateY(-50%);
} */
/* .movie .player .icon .play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid transparent;
	border-bottom: 10px solid transparent;
} */