.header{
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
    left: 0;
    padding-bottom: 20px;
}
.header-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    padding-top: 20px;
    flex-wrap: wrap;
}
.header .menu-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header .menu-bar .menu {
    position: relative;
    height: 10px;
    width: 60px;
    cursor: pointer;
    text-align: right;
    direction: rtl;
}
.header .menu-bar .menu span{
    position: absolute;
    height: 2px;
    background: #ffffff;
    display: inline-block;
}
.header .menu span:nth-child(1){
    top:0;
    width: 22px;
}
.header .menu span:nth-child(2){
    top: 7px;
    width: 28px;
}
.header .menu span:nth-child(3){
    top: 14px;
    width: 18px;
}
.header .menu-bar img {
    margin-left: 30px;
}
.header.active {
    background: #000;
    transition: all 0.8s ease;
    /* z-index: 5;
    position: fixed;
    opacity: 1; */
}
@media all and (max-width: 1350px) {
    .header-style{
      padding-right: 20px;
    }
} 
@media all and (max-width: 600px) {
    .menu-bar {
        width: 100%;
    }
    .actions{
      display: none;
    }
} 
