.footer{
    background: #000;
}
.footer-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
}
.column a {
    color: #52525e;
    display: block;
}
.column ul li h5 {
    color: #52525e
}
.column ul{
    column-count: 3;
    column-gap: 150px;
}
.column-style a {
    padding-top: 10px;
    text-transform: capitalize;
}
.footer .footer-bottom {
    padding: 25px 0 30px 0;
    text-align: center;
    padding-bottom: 25px;
    border-top: 1px solid #52525e;
    margin-top:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .footer-bottom ul {
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
}
.footer .footer-bottom ul li a{
    color: #52525e;
}
.footer .footer-bottom p{
    color: #52525e;
}