.video-for-everyone{
    background: #141414;
}
.video-for-everyone h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 3.4rem;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: none;
}
.video-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.video-box li {
    width: 25%;
}
.video-box li .single-video img {
    width: 100%;
    height: auto;
    border-radius: 30px 30px 0px 0px;
}
.single-video {
  margin: 10px;
  background: #1D1D1D;
  border-radius: 10%;
  text-align: center;
}
.single-video a {
    color: #fff;
    font-size: 1.3rem;
}
.video-box li:hover .single-video a {
 color: #EEB500;
}
.single-video-description {
    padding: 35px;
    line-height: 22px;
}
.single-video-description h3 {
    padding-bottom: 10px;
    font-size: 1.8rem;
}
@keyframes fade-up {
    0% {
        transform: translate(0%, 100%);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}
.video-for-everyone-wraper {
    animation: fade-up 2s ease;
}